version: '3.8'
services:
  # ================================
  # Application Services
  # ================================
  gateway-service:
    build:
      context: .
      dockerfile: apps/graphql-gateway/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env.docker
    depends_on:
      - auth-service
      - user-service
    networks:
      - foodfund-network

  auth-service:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
    ports:
      - "8002:8002"
    env_file:
      - .env.docker  
    networks:
      - foodfund-network

  user-service:
    build:
      context: .
      dockerfile: apps/user/Dockerfile
    ports:
      - "8003:8003"
    env_file:
      - .env.docker
    depends_on:
      - users-db
    networks:
      - foodfund-network

networks:
  foodfund-network:
    driver: bridge