apiVersion: apps/v1
kind: Deployment
metadata:
  name: foodfund-auth
  namespace: foodfund-staging
  labels:
    service: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      service: auth
  template:
    metadata:
      labels:
        service: auth
    spec:
      containers:
        - name: auth-service
          image: ttrece/foodfund-auth:develop
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8002
          env:
            - name: NODE_ENV
              value: "production"
            - name: PORT
              value: "8002"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "150m"
